/* Global Styles */

@import url("https://fonts.googleapis.com/css2?family=Inter:slnt,wght@-10..0,100..900&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: inter;
}

a{
    text-decoration: none;
    color: var(--primary);
}

button{
    cursor: pointer;
}

:root {
  --primary: #222021;
}

.container{
    width: 100%;
    height: 100%;
    padding: 120px 0;
}

.row{
    width: 100%;
    height: 100%;
    max-width: 1024px;
    margin: 0 auto;
    padding: 0 12px;
}

.bold{
    font-weight: 600;
}

html {
    scroll-behavior: smooth;
}


/* Nav Section */

.nav {
  position: fixed;
  top: 16px;
  height: 80px;
  z-index: 10;
  width: 100%;
}

.nav__container {
  display: flex;
  width: 100%;
  height: 100%;
  max-width: 1024px;
  margin: 0 auto;
  color: var(--primary);
  background-color: white;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  padding: 0 20px;
  border-radius: 8px;
}

.nav__logo{
    font-size: 18px;
    font-weight: 700;
}

.nav__links{
    display: flex;
    gap: 16px;
    align-items: center;
}

.nav__link{
    font-weight: 600;
    font-size: 16px;
}

.nav__link__button{
    background-color: var(--primary);
    color: white;
    padding: 8px 20px;
    font-size: 16px;
    border: none;
    font-weight: 500;
    border-radius: 99px;
}

/* Home Section */

#home{
    height: 100vh;
    width: 100%;
    
}

.header__row{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--primary );
}

.header__span{
    font-size: 18px;
    font-weight: 600;
}

.header__title{
    font-size: 96px;
    font-weight: 600;
    line-height: 100px;
    color: var(--primary);
}

.header__subtitle{
    font-size: 44px;
    font-weight: 600;
    line-height: 44px;
}

.header__links{
    display: flex;
    gap: 16px;
    margin-top: 16px;
}

.header__scroll{
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 32px;
    left: 50%;
    transform: translateX(-50%);
    animation: header__scroll__animate 1000ms infinite alternate-reverse;
}

@keyframes header__scroll__animate{
    0%{
        bottom: 32px;
    }
    100%{
        bottom: 22px;
    }
}

/* ABout */

.about__row{
    display: flex;
    gap: 128px;
}

.about__content{
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.about__text{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.about__title{
    font-size: 16px;
    text-transform: uppercase;
}

.about__text__subtitle{
    font-size: 32px;
}

.about__text__para{
    line-height: 24px;
    max-width: 400px;
}

.about__skills{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.about__skill__wrapper{
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
}

.about__skill{
    width: 40px;
    height: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about__skill__image{
    width: 100%;
    height: 100%;
    transition: 200ms ease;
}

.about__skill__name{
    font-size: 12px;
    opacity: 0;
    font-weight: 500;
    transition: 300ms ease;
    margin-top: 6px;
}

.about__skill:hover .about__skill__name{
    opacity: 1;
}

.about__skill:hover .about__skill__image{
    scale: 0.9;
}

.about__image__wrapper{
    width: 400px;
    max-width: 100%;
    position: relative;
}

.about__image__wrapper::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border: 1px solid var(--primary);
    top: 24px;
    right: 24px;
    z-index: 1;
}

.about__image__wrapper::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border: 1px solid var(--primary);
    bottom: 24px;
    left: 24px;
    z-index: 3;
}

.about__image{
    width: 100%;
    height: 100%;
    z-index: 2;
    position: relative;
}

